@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
body {
 background-color: #c5ebd6;
}
main  p{
    text-indent: 20px;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    line-height: 1.5;
}

/*
todo documento tem uma root
tudo que ser colocado nela vai servir para todo documento
*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque : 'Bebas Neue', cursive;
    --fonte-android : 'Caveat', cursive;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

main  h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main  h3{
    color: var(--cor3);
    font-family: var(--fonte-android);
}
main  h2{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    font-family: var(--fonte-android);
    text-indent: 8px;
}
header  h1{
    margin-bottom: 20px;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
    
}
header{
    background-image: linear-gradient(to bottom, var(--cor1),  var(--cor3), var(--cor4), var(--cor5));
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
main a {
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.3s;
    color: rgba(0, 0, 255, 0.815);
    
    
}
main a:hover{
    text-decoration: underline;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 3px;

}
main strong{
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 3px;
}

header > p{
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
    color:  white;
    font-size: 1.1em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
    
    
}
nav{
    background-color: var(--cor5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
    padding: 10px;

}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);

}
nav > a{
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
    /*transição no hover*/
}
main{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    padding: 20px;
    margin: auto;
    max-width: 1000px;
    min-width: 280px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 13px;

}
* {
    margin: 0px;
    padding: 0px;
}
 main img{
    width: 100%;
}
.pq{
    display: block;
    margin: auto;
    max-width: 350px; 
}
.youtube{
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px 0px 10px 0px;
}
footer  a{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
aside{
    background-color: var(--cor1);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}
aside > ul{
    /*list-style-type: '✅'; nao e compativel com todo navegador*/
    list-style-type: '✅';
    list-style-position: inside;
    columns: 2;
    padding-left: 50px;
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px -0px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 5px;

}
aside > p{
    padding: 0px 0px 0px 10px;
    text-indent: 20px;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    line-height: 1.5;}
a.externo::after{
    content: '🔗';
}
aside a:hover{
    background-color: white;
}
aside a{
    transition-duration: 0.3s;
}
